* { margin:0; padding:0; box-sizing:border-box; }
body {
		background-color: #00ff00;
		font-family: 'Quicksand', sans-serif;
		font-size:16px;
}
h3 {
		text-align: center;
		color:#912828;
		font-family: "Courier New",monospace;
		font-size: 1.5em;
}
header{
		background: url("http://i.imgur.com/Qr5qCnq.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		padding: 2em;
}
#photos img {
		display:block;
		float:left;
		padding:1em;
		width:33.33%;
}
h1 {
		font-family: 'Orbitron', sans-serif;
		font-style: italic;
		letter-spacing: 0.19em;
		font-size: 3em;
		font-weight: 3em;
		-webkit-text-fill-color: yellow;
   		-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: black;
}

nav {
		background-color: #ff0000;
		padding: .5em;	
		font-weight: 500;
		font-size:1.5em;
		text-align: center;
		font-family:'Orbitron', sans-serif;
}
a:hover {
		background-color: #aaaaaa;
}
#mslogo {
		float: left;
}
#apple {
		float: right;
}
ul{
		font-weight: bold;
		color: #0000ff;
		line-height: 150%;
		padding: 0 3em;
}
p{
		color: rgb(255,0,0);
		letter-spacing: 1px;
		font-weight: bold;
		color: black;
		margin: 1.5em;
		display: block;
}
footer {
		font-family: 'Orbitron', sans-serif; 
		text-align: center;
		padding: 2em 0;
}
#home{
		text-align: center;
		font-family:'Orbitron', sans-serif; 
		font-weight: 70px;	
}
#services{
	text-align: center;
	font-family:'Orbitron', sans-serif;
}
#contactus{
	text-align: center;
	font-family:'Orbitron', sans-serif;
}
#slogan {
		color: white;
		font-family: 'Orbitron', sans-serif;
		font-style: italic;
		letter-spacing: 3px;
}
.wrapper {
	max-width:75em;
	margin:auto;
}

@media only screen and (max-width: 921px) and (min-width:637px) {
	h1 {
		font-size:2em;
	}
	div img {
		float:none;
		margin:1em auto;
		width:80%;
	}
	#services {
		text-align: center;
		float: none;
		width: auto;
	}
	#contactus{
		text-align: center;
		float: none;
		width: auto;	
	}
}
@media only screen and (max-width:636px) {
	h1 {
		font-size:1.5em;
	}
	div img {
		width:100%;
		padding:2em;
	}
	nav {
		font-size:1em;
	}
}
