body {
	background-color: #00ff00;
}
header {
	background: url("http://i.imgur.com/ZIqAjXX.jpg" alt="Our Logo");
	text-align: center;
}
 div #yellowbox {
	opacity: 2.0;
}
h3 {
		text-align: center;
		color:#912828;
		font-family: "Courier New",monospace;
		font-size: 25px;
}
#slogan {
	font-family: 'Orbitron', sans-serif;
	font-style: italic;
	text-align: center;
	letter-spacing: 3px;
}
nav {
text-align: center;
font-family:'Orbitron', sans-serif; 
font-weight: 70px;
border: solid;
b
}
ul{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #0000ff;
	line-height: 150%;
}
p{
	font-family: Arial, sans-serif;
	color: rgb(255,0,0);
	letter-spacing: 1px;
	font-weight: bold;
	color: black;
	margin: 25px 25px;
	display: block;
}
div {
	text-align: center;
}
footer {
	font-family: 'Orbitron', sans-serif; 
	text-align: center;
}


